<div class="div-login">
<form action="" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" name="login" placeholder="login">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" name="senha" >
    </div>
</form>
</div>

<div class="text-center">
    <h1 class="display-4">Welcomede</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
