<div class="div-login">
    <form action="autenticacao" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Login</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="login" placeholder="login">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" name="senha">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <a href="registro"> <button type="button" class="btn btn-light">Registro</button></a>
</div>


<h1>@ViewData["SQLLogin"]</h1>
